*, 
*::after,
*::before{
    box-sizing: border-box;
}

$basiccolor: #001E64;
$textcolor: #FFFFFF;


a{
    color: inherit;
    text-decoration: none;
}

.body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

}

.header {
}
.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}
.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.logo {
    margin-left: 16px;
}
.logo__img {
}
.menu {
    margin-top: 16px;
    
}
.menu__list {
    display: flex;
    
}
.menu__item + .menu__item{
    margin-left: 30px;
}
.menu__link {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: $basiccolor;
    &:hover{
        border-bottom: 1px solid $basiccolor;
    }
}
.phone {
    margin-top: 11px;
    margin-right: 43px;
}
.phone__img {
}
.header__content {
    background-image: url(../images/header.png);
    background-size: top;
    background-position: top;
    background-repeat: no-repeat;
    padding-bottom: 20px;
    margin-top: -100px;
    min-height: calc(100vh-50px);

}
.title {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 95px;
    color: $basiccolor;
    max-width: 589px;
    padding-top: 170px;
    padding-left: 112px;
    margin-bottom: 60px;
}
.header__slider {
    max-width: 522px;    
    padding-left: 112px;
    padding-top: 57px;
    padding-bottom: 135px;
    
}
.header__slider__item {
}
.header__slider__text {
    margin-bottom: 25px;
    color: $textcolor;
    font-size: 18px;
    line-height: 22px;
    
}
.header__content__btn {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    line-height: 32px;
    color: $textcolor;
    font-weight: 700;
    padding: 14px 88px;
    border-radius: 20px;
    background-color: rgba(255,255,255,.5);
    margin-left: 110px;
    display: inline-block;
    transform: translateY(-100px);
    position: absolute;

}
.header__content__box {
    display: flex;
    margin-left: 100%;
    margin-right: 30px;
    

}
.header__content__link {
    color: $textcolor;
    font-size: 18px;
    line-height: 21px;
}

.header__content__link--active{
    font-weight: 700;
}

.slick-prev,
.slick-next{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 0;
    width: 18px;
    height: 11px;    
    position: absolute;
    left: 40px;
}

.slick-prev{
    background: url(../images/prev.svg) 0 0 no-repeat;
    top: 0;
}
.slick-next{
    background: url(../images/next.svg) 0 0 no-repeat;
    bottom: 0;
}


.slick-dots{
    list-style: none;
    position: absolute;
    left: 38px;
    top: 58px;
    bottom: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & button {
        border: none;
        background-color: transparent;
        padding: 0;
        font-size: 24px;
        line-height: 28px;
        color: $textcolor;
        opacity: 0.5; 
        cursor: pointer;
        &::before{
            content: '0';
        }
    }

    & .slick-active button{
        opacity: 1;
    }
    & li:nth-child(n + 10) button::before{
        content: '';
    }
}

